body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;

}
img{
    height: 200px;
    width: 200px;
    position: absolute;
    animation: mover 5s ease;
}


@keyframes mover {
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100%{
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;

    }

}
.Botão{
    position: absolute;
    bottom: 10px;
}   