body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: center;
    top: 50%;
    left: 50%;
    animation: pulsarGirar 2s infinite;
    transform-origin: center;
}

@keyframes pulsarGirar {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
.Botão{
    position: absolute;
    bottom: 15px;
}   