body{
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    overflow-y: hidden;
}
form{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 3px 6px 5px 3px;
    background-image: url(../assets/imagem-em-lente-convexa.webp);
    background-size: cover;
    animation: windows 2s forwards;
}
button{
    border: 1px solid black;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;   
}
form button:hover{
    background-color: rgb(182, 181, 181);
    scale: 10px;
}
input{
    border-bottom: 1px;
    margin-top: 10px;
    border-radius: 2px;
}
h4{
    box-shadow: 3px 4px 5px 4px;
    width: 150px;
}
@keyframes windows{
    from{
        transform: translateY(-10%);
        opacity: 0;
    }
    to{
        transform: translateY(100%);     
    }
}
.botao {
    position: absolute;
    bottom: 10px; 
}

.botao button:hover {
    background-color:   rgb(182, 181, 181);
}
.Botão{
    position: absolute;
    bottom: 10px;
}   
