body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
    }
    
    .container {
    display: flex;
    }
    
    .quadrado1 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 0 10px; 
    animation: moverCimaBaixo 4s infinite alternate;
    }
    
    .quadrado2{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 0 10px; 
    animation: moverCimaBaixo 4s infinite alternate 2s;
    }
    
    .quadrado3{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 0 10px; 
    animation: moverCimaBaixo 4s infinite alternate 4s;
    }
    
    
    
    
    @keyframes moverCimaBaixo {
    0% {
        transform: translateY(0);
    }
    25%{
       transform: translateY(50%);
    }
    50%{
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(50%);
    }
    }
    .Botão{
        position: absolute;
        bottom: 10px;
    }   
    