body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
    }
    
    .elemento {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
    }
    
    .elemento:hover {
    width: 200px;
    height: 100px;
    border-radius: 0;
    }
    .Botão{
        position: absolute;
        bottom: 10px;
    }   