body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }    
  
.circulo {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 50%;
    position: relative;
    bottom: 0;
    left: 1px;
    animation: quicar 5s ease 4;
    }
    
    @keyframes quicar {
        0%{
            transform: translateX(0%);
        }
        20%{
            transform: translateY(180%);
        }
        40%{
            transform: translateX(430%);
        }
        60%{
            transform: translateY(-190%);
        }
        80%{
            transform: translateX(-430%);    
        }
        90%{
            transform: translateY(170%);
        }
        100%{
            transform: translateX(100%);
            transform: translateY(0%);
        }

    }
    .Botão{
        position: absolute;
        bottom: 10px;
    }   
    