body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Quadrado{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}
.Botão{
    position: absolute;
    bottom: 10px;
}   