body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.circulo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: center;
    background-color: aquamarine;
    transform: 2ms;
}
.circulo:hover{
    animation: crescer 2s ease infinite;
}

@keyframes crescer {
    0% {
        transform: scale(1);
        background-color: aqua;
    }
    100% {
        transform: scale(2);
        background-color: brown;
    }

}
.Botão{
    position: absolute;
    bottom: 10px;
}   