body{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circulo {
    width: 150px;
    height: 150px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    animation: moveRight 4s linear infinite;
    justify-content: center;
    align-items: center;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(500px);
    }
}
.Botão{
    position: absolute;
    bottom: 10px;
}   