body{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.quadrado {
    width: 150px;
    height: 150px;
    background-color: aqua;
    border-radius: 5%;
    animation: mover 3s  infinite;
}

@keyframes mover {
    50% {
        transform: rotate(45deg);
    }

}
.Botão{
    position: absolute;
    bottom: 10px;
}   