body {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.quadrado {
    width: 150px;
    height: 150px;
    background-color: aqua;
    border-radius: 5%;
    animation: mover 3s infinite;
}

@keyframes mover {
    12.5% {
        transform: rotate(45deg);
        background-color: rgb(165, 163, 42);
    }

    25% {
        transform: rotate(90deg);
        background-color: rgb(42, 165, 52);
    }

    37.5% {
        transform: rotate(135deg);
        background-color: rgb(42, 99, 165);
    }

    50% {
        transform: rotate(180deg);
        background-color: rgb(165, 42, 159);
    }

    62.5% {
        transform: rotate(225deg);
        background-color: yellow, (165, 42);
    }

    75% {
        transform: rotate(270deg);
        background-color: orange;
    }

    87.5% {
        transform: rotate(315deg);
        background-color: brown;
    }

    100% {
        transform: rotate(360deg);
        background-color: white;
    }
}
.Botão{
    position: absolute;
    bottom: 10px;
}   