body{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 255, 255, 0.274);
    border-radius: 5%;
    animation: mover 3s  ease infinite;
}

@keyframes mover {
    0% {
        transform: scale(0);            
    }

    25% {
    
    }
    50% {
        background-color: rgb(69, 42, 165);
    }
    75% {
       
    }
    100% {
        transform: scale(1);
        background-color: brown;
        width: 200px;
        height: 200px;
    }
}
.Botão{
    position: absolute;
    bottom: 10px;
}   